* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

:root {
    --site-color: rgb(255, 136, 0);
    --bluish: rgb(1, 3, 34);
    --secondary: rgb(0, 204, 255);
}

.footer {
    background-color: var(--bluish);
    padding: 40px;
    color: #fff;
    text-align: center;
}

.header {
    padding: 20px 12px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bluish);
    font-size: 18px;
    font-family: Impact;
}

.header li,
.logo {
    color: var(--site-color);
}

.nav>li {
    list-style: none;
    padding: 20px;
    display: inline;
}

.nav>li:hover {
    color: white;
    cursor: pointer;
    font-style: italic;
}

a {
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.banner-img {
    width: 97vw;
    height: 65vh;
}

.banner-heading {
    /* padding: 100px; */
    margin-top: 2%;
}

.section1 {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2%;
    margin: 2% 0.77% 2% 1.4%;
}

.inner1 {
    display: grid;
    gap: 2%;
}

.div-inner1 {
    background-color: var(--secondary);
}

.div-inner2 {
    background-color: var(--site-color);
}

.inner1,
.inner2 {
    height: 450px;
    width: 95%;
    background-color: var(--bluish);
    text-align: center;
    color: var(--site-color);
}

.inner2 img {
    width: 100%;
    height: 100%;
    position: relative;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 0 25px 20px;
}

.img {
    height: 350px;
    width: 95%;
    background-color: var(--bluish);
    color: var(--site-color);
    margin-bottom: 10%;
}

.img img {
    width: 100%;
    height: 100%;
}

.img a {
    color: rgb(0, 204, 255);
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-right: 1.5%;
}

.adv {
    background-color: var(--secondary);
    height: 100vh;
}

.below-img {
    background-color: var(--bluish);
    padding: 5px 0 0 16px;
}

.banner-heading {
    display: grid;
    /* grid-template-columns: 2fr 3fr; */
    width: 100%;
}

.collective-dish {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15%;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 0px 30px;
}

.circle img {
    background-color: var(--site-color);
    border: 1px var(--bluish);
    border-radius: 50%;
    margin-top: .5%;
    width: 100%;
    height: 300px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle {
    top: 80px;
}

.circle {
    animation: rotate 20s infinite linear;
}

@media (max-width:992px) {
    .main {
        display: block;
        padding: 0 0 0px 20px;
    }
    .circle img {
        height: 200px;
    }
    .img {
        height: 500px;
    }
    .img img {
        height: 100%;
    }
    .below-img {
        margin-top: -5px;
    }
}


/* Large */

@media (min-width: 768px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img img {
        width: 100%;
        height: 80%;
    }
    .main-container {
        /* display: block; */
    }
}

@media (max-width:576px) {
    .collective-dish {
        display: block;
        overflow: hidden;
        padding: 50px;
    }
    .circle img {
        margin-bottom: 12%;
        height: 300px;
    }
    .section1 {
        display: block;
        margin: 2% 0.77% 2% 0%;
        padding: 0 0 0px 20px;
    }
    .main {
        display: block;
        padding: 0 0 0px 20px;
    }
    .main-container {
        display: block;
    }
    .adv {
        background-color: var(--secondary);
        height: 400px;
        margin: 5% 5% 10% 5%;
    }
    .header {
        padding: 20px 2px;
    }
    .img {
        margin-bottom: 20%;
    }
    .inner1 {
        margin-bottom: 5%;
    }
    .banner {
        height: 300px;
    }
    .below-img {
        margin-top: -5px;
    }
}


/* Medium */


/* Small */

@media (max-width: 360px) {
    .adv {
        display: none;
    }
    .main {
        grid-template-columns: 1fr;
    }
    .nav>li {
        padding: 3px;
    }
    .img {
        height: 350px;
        width: 95%;
        /* margin-bottom: 10%; */
    }
}


/*
X-Small 	None 	<576px
Small 	sm 	≥576px
Medium 	md 	≥768px
Large 	lg 	≥992px
Extra large 	xl 	≥1200px
Extra extra large 	xxl 	≥1400px
*/