* {
    font-family: 'Times New Roman';
}

body {
    background-color: rgb(127, 158, 158);
    margin: 5% 20%;
}

li {
    list-style: none;
}

#submit {
    margin-top: 12px;
    display: none;
}

#q-num {
    display: block;
}

button {
    color: white;
    background-color: black;
    border-radius: groove;
    font: bold;
    font-size: 17px;
}

select {
    font-size: x-large;
    padding: 8px;
}

#quiz-style {
    align-content: center;
    border-radius: 5px;
    border: solid black;
    /* width: 50%; */
    margin-bottom: 2%;
    padding: 5px 10px;
    font-style: oblique;
}

#score-board {
    display: none;
}

@media(min-width: 400px) {
    #quiz-style {
        /* width: 50%; */
        /* margin-bottom: 0; */
    }
}