<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/style.css">
    <script src="../statics/js/page.js" defer></script>
</head>

<body>

    <div class="header">
        <div class="logo">
            LOGO
        </div>
        <div class="nav">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </div>
    </div>

    <div class="container">

        <div class="banner"></div>

        <div class="banner-heading">
            <div class="collective-dish">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>

        </div>

        <div class="section1" id="section1">
            <div class="inner1">
                <div class="div-inner1"> </div>
                <div class="div-inner2"> </div>
            </div>
            <div class="inner2"> </div>
        </div>
        <div class="main-container">
            <div class="main"></div>
            <div class="adv">Adv</div>

        </div>

    </div>
    <div class="footer">
        &COPY;Copyright All rights reserved. Powered by: Benjamin A. Ngafua
    </div>
</body>

</html>